@use "../utils/mixins" as *;
@use "../utils/variables" as *;

.about {
  @include flex($justify: center, $align: start,$gap: 0.5rem);

  @include respond-to(mobile) {
    flex-wrap: wrap;
  }

  .text {
    flex: 1 1 375px;
  }

  .about-img {
    flex: 1 1 150px;
  }
}
