@use "../utils/mixins" as *;
@use "../utils/variables" as *;

footer {
  @include font-clamp(medium);
  color: $c1;
  background: $primary;
  padding: 1.25rem 0;
  text-align: center;
  font-style: italic;
}
