$c1: #f5f7fa;
$c2: #e1e3e5;
$c3: #a5a6a8;
$c4: #555657;
$c5: #414142;
$c6: #2d2d2e;
$c7: #19191a;

$primary: #2c70ff;
$secondary: #122ab2;
$tertiary-1: #ae81ff;
$tertiary-2: #f9265e;
$tertiary-3: #66d9eb;

$border-radius: 0.25rem;
$box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
$margin-bottom: 0.625rem;
$max-width: 1023.98px;
